body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.lolipop{
    color:green;
}
section{
    display: flex;

}
.hw{
    width: 50%;
    padding-left: 5%;
}
.hw img{
    width: 83%;
}
.cw{
    text-decoration: none;
    background-image:linear-gradient(chartreuse,green);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
.tb{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 5px;
}