body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.lolipop{
    color:green;
}
section{
    display: flex;
    margin-bottom: 75px;

}
.hw{
    width: 50%;
    padding-left: 5%;
}
.hw img{
    width: 83%;
}
.cw{
    text-decoration: none;
    background-image:linear-gradient(chartreuse,green);
    color: white;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
.tb{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 5px;
}
.hwtwo img{
    width:100%;
}
.hwtwo{
    padding-left:40px ;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.fc{
    text-decoration: none;
    background-image: linear-gradient(rgb(2, 192, 255),rgb(0, 0, 255));
    color: white;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 6px;
}
.lang{
    width: 85%;
}